/* Global Styles */
.my-exercises {
  color: #096B72;
}

/* index.Rmd */
.front-title {
  font-size: 1.5em;
  font-weight: bold;
}

.front-table table> {
  font-size: .75em;
  border-collapse: collapse;
}

.front-table table>thead {
  color: #096B72;
}

.front-table table>tbody tr:nth-child(even) {
  background-color: rgb(0, 0, 0, .025);
}

.front-table table>tbody tr:nth-child(1) {
  border-top: 2px solid rgb(0, 0, 0, .5) !important;
}

.front-table table>tbody tr:nth-child(5) {
  border-bottom: 2px solid rgb(0, 0, 0, .5);
}

.front-table table>tbody tr:nth-child(12) {
  border-bottom: 2px solid rgb(0, 0, 0, .5);
}

/* 00_introduction.Rmd */
.float-right {
  float: right;
  padding: 10px;
  margin-left: 10px;
}