/* Global Styles */
.my-exercises {
  color: darkred;
  background: darkred;
  color: white;
  padding: .35em;
  margin-right: .5em;
}

.my-examples {
  color: #096B72;
  background: #096B72;
  color: white;
  padding: .35em;
  margin-right: .5em;
}

.my-examples-div{
  background: #096B72;
}

/* Styling for the Dataframe table */
.dataframe {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  border: none;
  border-color: #ffffff00;
  width: 90%;
}

.dataframe thead tr {
  text-align: center;
  border-bottom: 2px solid black;
}

.dataframe tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.python-result-img{
  width:85%;
  margin-left: auto;
  margin-right: auto;
}



/* index.Rmd */
.front-title {
  font-size: 1.5em;
  font-weight: bold;
}

.front-table table> {
  font-size: .75em;
  border-collapse: collapse;
}

.front-table table>thead {
  color: #096B72;
}

.front-table table>tbody tr:nth-child(even) {
  background-color: rgb(0, 0, 0, .025);
}

.front-table table>tbody tr:nth-child(1) {
  border-top: 2px solid rgb(0, 0, 0, .5) !important;
}

.front-table table>tbody tr:nth-child(5) {
  border-bottom: 2px solid rgb(0, 0, 0, .5);
}

.front-table table>tbody tr:nth-child(12) {
  border-bottom: 2px solid rgb(0, 0, 0, .5);
}

/* 00_introduction.Rmd */
.float-right {
  float: right;
  padding: 10px;
  margin-left: 10px;
}